{% extends "base.html" %} {% block title %} Reset your password {%endblock %}
{% block content %}
<h1>Reset your password</h1>
<form method="POST" action="/forgot_password">
    <h3 align="center">Reset your password</h3>

    <div class="form-group">
        <label for="ID"> ID </label>
        <input
                type="text"
                class="form-control"
                id="ID"
                name="ID"
                placeholder="Enter ID">
    </div>

    <div class="form-group">
        <label for="password"> New password </label>
        <input
                type="text"
                class="form-control"
                id="password"
                name="New password"
                placeholder="Enter new password">
    </div>

     <div class="form-group">
        <label for="security qustion"> security qustion </label>
        <input
                type="text"
                class="form-control"
                id="security qustion"
                name="security qustion"
                placeholder="What is the name of your grandmother?">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">submit</button>

</form>
{%endblock%}
