{% extends "base.html" %} {% block title %} Secretary {%endblock %}
{% block content %}
<h1>Welcome back medical secretary</h1>
<form method="POST" action="/Secretary">
     <div class="form-group">
        <label for="s_action">action </label>
        <input
                type="s_action"
                class="form-control"
                id="s_action"
                name="s_action"
                placeholder="Enter number of action ">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">send</button>
</form>
{%endblock%}