{% extends "base.html" %} {% block title %} Home {%endblock %}
{% block content %}
<h1>{{user_name}} ({{user_role}}), Welcome back our patient</h1>

<div>
    <div class="form-group">
        <label for="allergy"> allergy </label>
        <input
                type="allergy"
                class="form-control"
                id="allergy" name="allergy"
                placeholder="Enter any allergy">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">send</button>
</form>
</div>
{%endblock%}


<!--{% extends "base.html" %} {% block title %} patient {%endblock %}-->
<!--{% block content %}<h1>patient</h1>-->
<!--<form method="POST" action="/patient">-->
<!--    <h3 align="center">patient</h3>-->
<!--    <div class="form-group">-->
<!--        <label for="n_action">action </label>-->
<!--        <input-->
<!--                type="allergy"-->
<!--                class="form-control"-->
<!--                id="allergy"-->
<!--                name="allergy"-->
<!--                placeholder="Enter number any allergy ">-->
<!--    </div>-->
<!--    <br/>-->
<!--    <button type="submit" class="btn btn-primary">send</button>-->
<!--</form>-->
<!--{%endblock%}-->


