{% extends "base.html" %} {% block title %} Home {%endblock %}
{% block content %}<h4> Patient </h4>
<h1> Welcome back {{user_name}} </h1>
<form method="POST" enctype="multipart/form-data" action="/patient">
    <div class="form-group">
        <label for="Pleas enter ID again for information security"> ID </label>
        <input
                type="Pleas enter ID again for information security"
                class="form-control"
                id="Pleas enter ID again for information security" name="Pleas enter ID again for information security"
                placeholder="Pleas enter ID again for information security">
    </div>
<div>
    <div class="form-group">
        <label for="allergy"> allergy </label>
        <input
                type="allergy"
                class="form-control"
                id="allergy" name="allergy"
                placeholder="Enter any allergy">
    </div>
    <div class="form-group">
        <label for="reason"> reason </label>
        <input
                type="reason"
                class="form-control"
                id="reason" name="reason"
                placeholder="Enter the reason that make you to be here">
    </div>
    <br/>
        <h4> {{ message }} </h4>
    <br/>
    <button type="submit" class="btn btn-primary" name="submit" onclick="return confirm('Are you sure?')">send</button>
    <button type="submit" name="cancel" class="btn btn-secondary">cancel</button>
    <input type="file" name="file">
    <input type="submit" value="Upload" name="upload">
</div>
</form>
{%endblock%}
