<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <style>

    table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table tr:nth-child(even){background-color: #f2f2f2;}

    table tr:hover {background-color: #ddd;}

    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    </style>
</head>
<body>
  <h3>Patients</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Queue</th>
                <th>Name</th>
                <th>Email</th>
                <th>Reason</th>
                <th>Place in Queue</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <form method="post">
                    <tr>
                        <td><input name="patient_id" value="{{ patient.ID }}" readonly/></td>
                        <td><button type="submit">approve</button></td>
                        <td>{{ patient.Name }}</td>
                        <td>{{ patient.email }}</td>
                        <td>{{ patient.reason }}</td>
                        <td>{{ patient.place_in_queue }}</td>
                        <td>{{ "yes" if patient.is_active_patient==1 else "No" }}</td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>